body {
    background-image: url('https://cdn.shopify.com/s/files/1/1051/1028/t/5/assets/hero_slide_2.jpg?v=5650946612979245473');
    
}

h1 {
  text-align: center;
  color: rgb(14, 221, 31);
}
html {
  scroll-behavior: smooth;
}

#section1 {
  height: 600px;
  
}

#section2 {
  height: 600px;
  
}

